.create-left-menu {
  font-size: 13px;
}

.create-left-menu .title {
  font-weight: bold;
  text-decoration: underline;
}

.create-left-menu .title {
  font-weight: bold;
  text-decoration: underline;
}

.create-left-menu .resume {
  margin-top: 15px;
}

.create-left-menu .resume .trajet > div {
  margin-bottom: 5px;
}

.create-left-menu .resume .trajet > div {
  margin-left: 5px;
  font-size: 12px;
}

.create-left-menu .resume .plus > div {
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
  margin-top: 3px;
  color: gray;
}

.create-left-menu .resume .plus span {
  font-weight: bold;
  color: black;
}

.create-left-menu mat-checkbox {
  font-weight: bold;
  color: darkolivegreen;
}

.create-left-menu .info {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.create-left-menu .canvas-zone {
  height: 150px;
  border: solid 1px red;
  margin-top: 20px;
}
