.paiement {
	text-align:left;
}

.paiement table {
	width: 100%;
	padding: 5px;
}

.paiement table tbody tr:nth-child(odd) {
	color: navy;
  	background-color: #ccc;
}

.paiement table tbody tr td:nth-child(odd) {
  	font-style: italic;
  	padding-left: 10px;
}

.paiement .block {
	border: solid 1px gray;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px;
}

.paiement .title {
	border-bottom: solid 1px #ccc;
	font-weight:bold;
	margin-bottom: 10px;
}

.paiement .buttons {
	display: flex;
	justify-content: center;
	margin-bottom:10px
}

.paiement .button-right {
	margin-left: 5px;
}

.paiement .resume-table {
	padding: 0px 15px  0px 15px;
	font-size: small;
	margin-top: 5px
}

.paiement .date-heure-depart {
	font-size: 10px;
	width: 100%;
	text-align: center;
	color: blue;
	font-style: italic
}


.paiement form label,
.paiement form input {
	font-size: 13px;
}

.paiement form label {
	width: 100px;
}

.paiement .cryptographie label {
	width: 85px;
}

.paiement .cryptographie input {
	width: 50px;
}