<div class="create">
  <!-- Main panel -->
  <mat-drawer-container class="row">
    <!-- SideBar -->
    <mat-drawer mode="side" opened="true" class="col-3 border rounded">
      <create-left-menu [currentStep]="currentStep"></create-left-menu>
    </mat-drawer>
    <!-- End SideBar -->

    <!-- Content -->
    <mat-drawer-content class="col-9">
      <mat-horizontal-stepper #stepper class="border rounded">
        <!-- ----------------------------------- -->
        <!-- Step 1 : Route defining -->
        <!-- ----------------------------------- -->
        <mat-step>
          <ng-template matStepLabel>Trajet</ng-template>
          <div class="title">
            <b class="color-green">Etape 1 : Définition du trajet </b>
          </div>
          <div class="content">
            <carpooling-form [editMode]="true"></carpooling-form>
          </div>
        </mat-step>

        <!-- ----------------------------------- -->
        <!-- Step 2 : Route -->
        <!-- ----------------------------------- -->
        <mat-step>
          <ng-template matStepLabel>présélection</ng-template>
          <div class="title">
            <b class="color-green"
              >Etape 2 : Présélectionner les covoitureurs
            </b>
          </div>
          <div class="content">
            <ul class="border rounded alerts">
              <li class="color-blue very-small-font">
                <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                <span
                  >&nbsp;&nbsp;Plusieurs covoitureurs sont en recherche active
                  sur ce trajet.</span
                >
              </li>
              <li class="color-red very-small-font">
                <i class="fa fa-warning fa-lg" aria-hidden="true"></i>
                <span
                  >&nbsp;&nbsp;Plusieurs départs se font à la même heure. Vous
                  pouvez vous servir du graphe ci dessous pour mieux vous
                  orientez
                </span>
              </li>
            </ul>

            <p class="no-padding">
              <button
                mat-stroked-button
                class="rounded very-small-font"
                (click)="openPreselectionDialog()"
              >
                Présélectionner les covoitureurs
              </button>
              &nbsp;&nbsp;
              <button mat-stroked-button class="rounded very-small-font">
                Restreindre l'annonce à vos amis
              </button>
            </p>

            <div class="selection border rounded">
              <carpooler-card
                *ngFor="let carpooler of list"
                [carpooler]="carpooler"
              >
              </carpooler-card>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

      <form class="navigation">
        <button
          *ngIf="currentStep > 1"
          mat-stroked-button
          (click)="goBack(stepper)"
        >
          Back
        </button>
        &nbsp;
        <button
          *ngIf="currentStep < 4"
          mat-stroked-button
          (click)="goForward(stepper)"
          [disabled]="disabledButtonNext()"
        >
          Next
        </button>
      </form>
    </mat-drawer-content>
    <!-- End Content -->
  </mat-drawer-container>
  <!-- End Main panel -->
</div>
