.dashboard-left-menu .short-profil {
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;

  /* line-height: 200px; */

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.dashboard-left-menu .img-container {
  padding-top: 15px;
}

.dashboard-left-menu .text {
  color: peru;
  font-weight: bold;
}

.dashboard-left-menu .with-badge {
  padding-top: 4px;
}

.dashboard-left-menu .cash {
  font-size: 25px;
  font-weight: bold;
  color: seagreen;
}
