.cp-create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.cp-create-container > * {
  width: 100%;
}

.cp-create-container .mat-radio-button {
  margin: 0 5px;
}

.cp-create-container .col-right-separator {
	border-right: solid 1px #ccc;
}

.cp-create-container .place-field {
	width: 40px;
}

.cp-create-container .price-field {
	width: 30px;
}

.accetation-automatique {
  display: flex;
  align-content: center;
  align-items: center;
}

.check-option {
  margin: 0 10px;
}