.paiement {
	text-align:left;
	margin-top: 13px;
}
.paiement .block {
	border: solid 1px #e8e8e8;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 5px;
}

.paiement .title {
	border-bottom: solid 1px #e8e8e8;
	font-weight:bold;
	margin-bottom: 10px;
}

.paiement .resume-table {
	padding: 0px 15px  0px 15px;
}

.paiement .date-heure-depart {
	font-size: 10px;
	width: 100%;
	text-align: center;
	color: blue;
	font-style: italic
}

.paiement .demandes-container {
	display: flex;
	font-size: small;
	margin-top: 3px;
}

.paiement .demande {
	width: 200px;
	margin-left: 2px;
	background-color: #fbcbd7
}

.paiement .demande-aller  {
	background-color: #dfdbf9;
}

.paiement .demande .route {
	text-align: center;
	font-size: bold;
}

.paiement .demande .places {
	text-align: center;
	font-size:11px;
}

.paiement .demande .total-amount {
	text-align: center;
	margin-top: 5px;
	border-top: solid 1px #e8e8e8;
}

.paiement .cgu,
.paiement .insufficient-account {
	text-align: center;
	font-size:12px;
}

.paiement .insufficient-account button {
	margin-center: auto;
}

.paiement .cgu input {
	position: relative;
	top: 2px;
	margin-right: 2px;
}
