<div class="starter-template listing">
  <!-- Main panel -->
  <mat-drawer-container class="row">
    <!-- SideBar -->
    <mat-drawer
      mode="side"
      opened="true"
      class="col-3 side-bar border-secondary rounded"
    >
      <div *ngIf="currentStep < 3" class="float">
        <carpooling-list-left-menu
          [selectionsAller]="selectionsAller"
          [selectionsRetour]="selectionsRetour"
          [currentStep]="currentStep"
          [carpoolingsAller]="carpoolingsAller"
          [carpoolingsRetour]="carpoolingsRetour"
          (click)="onClick($event)"
        >
        </carpooling-list-left-menu>
      </div>
    </mat-drawer>
    <!-- End SideBar -->

    <!-- Content -->
    <mat-drawer-content class="col-9 no-padding no-margin">
      <div class="navigation">
        <button
          *ngIf="currentStep > 1"
          mat-stroked-button
          (click)="goBack(stepper)"
        >
          Back
        </button>
        &nbsp;
        <button
          *ngIf="currentStep < 4"
          mat-stroked-button
          (click)="goForward(stepper)"
          [disabled]="disabledButtonNext()"
        >
          Next
        </button>
      </div>

      <mat-horizontal-stepper #stepper class="border rounded">
        <!-- ----------------------------------- -->
        <!-- Step 1 : Sélection allers  -->
        <!-- ----------------------------------- -->
        <mat-step>
          <ng-template matStepLabel>Covs Aller</ng-template>
          <ng-container
            *ngTemplateOutlet="
              selectionTemplate;
              context: { data: resultsSearch[0] }
            "
          >
          </ng-container>
        </mat-step>

        <!-- ----------------------------------- -->
        <!-- Step 2 : Sélection Retours  -->
        <!-- ----------------------------------- -->
        <mat-step>
          <ng-template matStepLabel>Covs Retour</ng-template>
          <ng-container
            *ngTemplateOutlet="
              selectionTemplate;
              context: { data: resultsSearch[1] }
            "
          >
          </ng-container>
        </mat-step>

        <!-- ------------------------------------------- -->
        <!-- Step 3 : Visualisation de la sélection et  -->
        <!-- ------------------------------------------- -->
        <mat-step>
          <ng-template matStepLabel>Selection</ng-template>
          <div class="title">
            <strong class="color-green">Etape 3 : Vos selections</strong>
          </div>
          <user-selection
            [selectionsAller]="selectionsAller"
            [selectionsRetour]="selectionsRetour"
          ></user-selection>
        </mat-step>

        <!-- -------------------- -->
        <!-- Step 4 : Paiement  -->
        <!-- -------------------- -->
        <mat-step>
          <ng-template matStepLabel>Envoi</ng-template>
          <div class="title">
            <strong class="color-green"
              >Etape 4 : Finalisation demande(s)</strong
            >
          </div>
          <app-paiement
            [selectionsAller]="selectionsAller"
            [selectionsRetour]="selectionsRetour"
          >
          </app-paiement>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-drawer-content>
    <!-- End Content -->
  </mat-drawer-container>
  <!-- End Main panel -->
</div>

<ng-template #selectionTemplate let-data="data">
  <div class="title">
    <strong class="color-green">{{ data.title }}</strong>
  </div>
  <div class="listing">
    <tabset [justified]="false" class="no-margin no-padding">
      <tab
        *ngFor="let tabDay of data.tabDays"
        heading="{{ tabDay }}"
        class="tab-day"
      >
        <mat-tab-group>
          <mat-tab *ngFor="let tabType of data.tabTypes" label="{{ tabType }}">
            <div class="tab-container no-margin no-padding">
              <!-- result list -->
              <div *ngFor="let carpooling of data.carpoolings" class="cp">
                <carpooling-card
                  (click)="onClick($event)"
                  [isAller]="data.isAller"
                  [aller]="
                    data.isAller ? newCarpoolingViewModel(carpooling) : null
                  "
                  [retour]="
                    data.isAller ? null : newCarpoolingViewModel(carpooling)
                  "
                  [quotaReached]="quotaReached"
                >
                </carpooling-card>
              </div>
              <!-- End result list -->

              <br />

              <pagination
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                (pageChanged)="pageChanged($event)"
              ></pagination>
            </div>
          </mat-tab>
        </mat-tab-group>
      </tab>
    </tabset>
  </div>
</ng-template>
