.driver-info-container {
  display: flex;
}

.driver-info-container .normal-img {
  height: 70px;
  width: 70px;
}

.driver-info-container .mini-img {
  height: 35px;
  width: 35px;
}

.driver-info-container > div {
  margin-left: 4px;
  text-align: left;
}
