.carpooling {
	padding: 4px 0px 10px 0px;
	margin-bottom: 0px
}

.carpooling .header {
	border-bottom: solid 1px #e8e8e8;
}

.carpooling .content {
	margin-bottom: 2px;
}

.carpooling .content .detail {
	padding: 0px 0px 0px 15px
}

.route-infos-container {
	width:100%;
	border-right: solid 1px #e8e8e8;
	border-left: solid 1px #e8e8e8
}
.carpooling .content .route {
	border-bottom: solid 1px #e8e8e8;
	padding: 6px 0px 5px 0px;
}

.carpooling .header .price {
	padding: 0px 15px 0px 0px;
	text-align: right;
}

.carpooling .content .driver {
	padding-top: 6px;
}

.carpooling .action {
	text-align : right;
	padding: 0px; 
	margin: 0px 15px 0px 15px;
}

.carpooling .action button {
	color: blue;
}

.carpooling .footer {
	margin: 3px 15px 0px 15px;
	background-color: yellow
}

.tp-box_front {
/*   background: #f30d36; */
}

.tp-box_back {
  background: #23262d;
  transform: rotateY(179.9deg);
}
