<!-- result list -->
<mat-card class="carpooling" [@flipState]="flip">

	<div *ngIf="flip == 'inactive'; then frontTemplate else backTemplate"></div>

	<ng-template #frontTemplate>
		<div class="tp-box_front">
			<div class="tp-box_back" *ngIf="carpooling; then contentTemplate"></div>
		</div>
	</ng-template>
	
	<ng-template #backTemplate>
		<div class="tp-box_back">
			<div class="tp-box_back" *ngIf="carpooling; then contentTemplate"></div>
		</div>
	</ng-template>
        		
</mat-card>

<ng-template #contentTemplate>
	<!-- Cp Header Infos  -->
	<mat-card-header class="full-width header">
		<div class="row full-width">
	
			<!-- departure Hour -->
			<mat-checkbox class="col-3 left-alignment departure-hour"><b>{{carpooling.heureDepart}}</b></mat-checkbox>
			<!-- End departure Hour -->
		
			<!-- Route -->
			<div class="col-7 route">
				<span class="color-green">{{carpooling.trajet.villeDepart}}</span>
				<span  *ngIf="carpooling.allerRetour; else allerSimple" class="fa fa-exchange fa-lg color-red" aria-hidden="true"></span>
				<ng-template #allerSimple>
					<span class="fa fa-long-arrow-right fa-lg color-green" aria-hidden="true"></span>
				</ng-template>
				<span  class="color-red">{{carpooling.trajet.villeArrivee}}</span>
			</div>
			<!-- End Route -->
		
			<!-- Price -->
			<div  class="col-2 left-alignment price">
				{{carpooling.price}} &euro;
			</div>
			<!-- End Price -->
	
		</div>
	</mat-card-header>
	<!-- End Cp Header Infos -->

	<!-- Cp Content -->
	<mat-card-content class="content container">
		<div class="row detail">

			<!-- Driver Infos -->
			<div class="col-3 container">
           		<div class="row driver">
            		<div class="col-6 left-alignment photo">
			    		<img src="assets/canard.jpg" alt="canard" class="rounded-circle">
			  		</div>
			  		<div class="col-6 left-alignment profil small-font">
			    		{{carpooling.driver.firstname}}
		  				<br>
		  				{{carpooling.driver.age}} ans
		  				<br>
		  				Note: {{carpooling.driver.note}}/5
			  		</div>
		  		</div>
       		</div>
        		
			<!-- Route infos -->
			<div class="col-7 left-alignment" style="width:100%;border-right: solid 1px #e8e8e8;border-left: solid 1px #e8e8e8">
			
				<div class="row route">
					<div class="col-12">
	 					<i class="fa fa-map-marker color-green" aria-hidden="true"></i>
	 					<span class="small-font"><b>{{carpooling.trajet.pointDepart}}</b>,</span><span class="color-green"> {{carpooling.trajet.villeDepart}}</span>
	 					<br>
	 					<i class="fa fa-map-marker color-red" aria-hidden="true"></i>
	 					<span class="small-font"><b>{{carpooling.trajet.pointArrivee}}</b>,</span><span class="color-red"> {{carpooling.trajet.villeArrivee}}</span>
 					</div>
				</div>
      							
      			<mat-card-actions class="action">
  					<button mat-button *ngIf="carpooling.allerRetour" (click)="toggleFlip()">
      					<i class="fa fa-undo" aria-hidden="true"></i>
		        		<u>Retour mardi à 14h30</u>
      				</button>
		      		<button mat-button (click)="onShowDetail()">
         				<i class="fa fa-plus" aria-hidden="true"></i>
		        		<u>Detail</u>
		      		</button>
				</mat-card-actions>
				
        	</div>
        	<!-- End route infos -->
        			
        				<!-- Places -->
			<div  class="col-2 left-alignment place">
				<span class="multiple"><b>{{carpooling.nbPlacesRestantes}}</b></span>
				<span *ngIf="carpooling.nbPlacesRestantes > 1; else unePlaceRestante" class="small-font">pl. restantes</span>
				<ng-template #unePlaceRestante>
					<span class="small-font">pl. restante</span>
				</ng-template>
			</div>
			<!-- End Places -->
				
    	</div>
    </mat-card-content>
    <!-- End Cp Content -->
        		
	<!-- Footer -->
    <mat-card-footer *ngIf="carpooling.linkedEvent" class="footer small-font">
    	<div class="border border-secondary rounded">
    		<i class="fa fa-info-circle" aria-hidden="true"></i>
    		Covoiturage pour l'èvenement : <b>{{carpooling.linkedEvent}}</b>
    	</div>
    </mat-card-footer>
	<!-- Footer -->
</ng-template>
