<div class="dashboard">
  <!-- Main panel -->
  <div class="row">
    <!-- SideBar -->
    <div class="col-3 border">
      <dashboard-left-menu [context]="context"></dashboard-left-menu>
    </div>

    <div class="col-9 border">
      <div *ngIf="context.currentPage == 1">
        <dashboard-profil></dashboard-profil>
      </div>

      <div *ngIf="context.currentPage == 2">
        <dashboard-account></dashboard-account>
      </div>

      <div *ngIf="context.currentPage == 3">
        <dashboard-friend></dashboard-friend>
      </div>

      <div *ngIf="context.currentPage == 4">
        <dashboard-avis></dashboard-avis>
      </div>

      <div *ngIf="context.currentPage == 5">
        <dashboard-message></dashboard-message>
      </div>

      <div *ngIf="context.currentPage == 6">
        <dashboard-vehicle></dashboard-vehicle>
      </div>

      <div *ngIf="context.currentPage == 7">
        <dashboard-alert></dashboard-alert>
      </div>

      <div *ngIf="context.currentPage == 8">
        <dashboard-trajet></dashboard-trajet>
      </div>
    </div>
    <!-- End Content -->
  </div>
  <!-- End Main panel -->
</div>
