<div class="starter-template listing">
 
    <!-- Main panel -->
    <mat-drawer-container class="row">
	  		
		  <!-- SideBar -->
		  <mat-drawer mode="side" opened="true" class="col-3 side-bar border-secondary rounded">
				<carpooling-list-left-menu [selections]="selections"></carpooling-list-left-menu>
		  </mat-drawer>
		  <!-- End SideBar -->
	  
	  	<!-- Content -->
	  	<mat-drawer-content class="col-9 global-panel" style="padding:0px;margin:0px;">
	  		<mat-horizontal-stepper  #stepper>
	  			
	  			<!-- ----------------------------------- -->
				<!-- Step 1-2 : Sélection aller/retour  -->
				<!-- ----------------------------------- -->
				<mat-step *ngFor="let rs of resultsSearch">
	  				<ng-template matStepLabel>{{rs.title}}</ng-template>
	  				<result-search [resultSearch]="rs"></result-search>
					<div class="buttons">
				      	<button *ngIf="rs.title === 'Vos covs Retour'" mat-stroked-button matStepperPrevious>Back</button>
        				<button  mat-stroked-button matStepperNext 
        					(click)="getRetours()"
        					[disabled]="countSelections(rs.title === 'Vos covs Aller') === 0"
        				>Next</button>
				    </div>
				</mat-step>
				
				<!-- ------------------------------------------- -->
				<!-- Step 3 : Visualisation de la sélection et  -->
				<!-- ------------------------------------------- -->
				<mat-step>
					<ng-template matStepLabel>Selection</ng-template>
					<user-selection  [selections]="selections"></user-selection>
					<div class="buttons">
						<button  mat-stroked-button matStepperPrevious>Back</button>
        				<button  mat-stroked-button matStepperNext>Next</button>
		  			</div>
				</mat-step>
				
				<!-- -------------------- -->
				<!-- Step 4 : Paiement  -->
				<!-- -------------------- -->
				<mat-step>
					<ng-template matStepLabel>Paiement</ng-template>
					<app-paiement></app-paiement>
					<div class="buttons">
						<button  mat-stroked-button matStepperPrevious>Back</button>
		  			</div>
				</mat-step>
				
			</mat-horizontal-stepper>
	  </mat-drawer-content>
	  <!-- End Content -->
	  
	</mat-drawer-container>
	<!-- End Main panel -->
	
</div>
