<div class="starter-template listing">
 
    <!-- Main panel -->
    <mat-drawer-container class="row">
	  		
		  <!-- SideBar -->
		  <mat-drawer mode="side" opened="true" class="col-3 side-bar border-secondary rounded">
		  		<div *ngIf="currentStep < 3">
					<carpooling-list-left-menu
						[selections]="selections"
						[currentStep]="currentStep"
						[carpoolingsAller]="carpoolingsAller"
						[carpoolingsRetour]="carpoolingsRetour"
					>
					</carpooling-list-left-menu>
				</div>
		  </mat-drawer>
		  <!-- End SideBar -->
	  
	  	<!-- Content -->
	  	<mat-drawer-content class="col-9 global-panel" style="padding:0px;margin:0px;">
	  		<mat-horizontal-stepper  #stepper>
	  			
	  			<!-- ----------------------------------- -->
				<!-- Step 1 : Sélection allers  -->
				<!-- ----------------------------------- -->
				<mat-step>
	  				<ng-template matStepLabel>Vos covs Aller</ng-template>
	  				<result-search [resultSearch]="resultsSearch[0]"></result-search>
					<div class="buttons">
        				<button  mat-stroked-button matStepperNext 
        					(click)="goToStepRetours()"
        					[disabled]="countSelections(true) === 0"
        				>Next</button>
				    </div>
				</mat-step>
				
				<!-- ----------------------------------- -->
				<!-- Step 2 : Sélection Retours  -->
				<!-- ----------------------------------- -->
				<mat-step>
	  				<ng-template matStepLabel>Vos covs Retour</ng-template>
	  				<result-search [resultSearch]="resultsSearch[1]"></result-search>
					<div class="buttons">
				      	<button mat-stroked-button matStepperPrevious
				      		(click)="goToStepAllers()">
				      		Back
				      	</button>
        				<button  mat-stroked-button matStepperNext 
        					(click)="goToStepVisualisationSelections()"
        					[disabled]="countSelections(galse) === 0"
        				>Next</button>
				    </div>
				</mat-step>
				
				<!-- ------------------------------------------- -->
				<!-- Step 3 : Visualisation de la sélection et  -->
				<!-- ------------------------------------------- -->
				<mat-step>
					<ng-template matStepLabel>Selection</ng-template>
					<user-selection 
						[selections]="selections">
					</user-selection>
					<div class="buttons">
						<button  mat-stroked-button matStepperPrevious
							(click)="goToStepRetours()">
							Back
						</button>
        				<button  mat-stroked-button matStepperNext
        					(click)="goToStepPaiement()">
        					Next
        				</button>
		  			</div>
				</mat-step>
				
				<!-- -------------------- -->
				<!-- Step 4 : Paiement  -->
				<!-- -------------------- -->
				<mat-step>
					<ng-template matStepLabel>Paiement</ng-template>
					<app-paiement 
						[selections]="selections">
					</app-paiement>
					<div class="buttons">
						<button  mat-stroked-button matStepperPrevious
							(click)="goToStepVisualisationSelection()">
							Back
						</button>
		  			</div>
				</mat-step>
				
			</mat-horizontal-stepper>
	  </mat-drawer-content>
	  <!-- End Content -->
	  
	</mat-drawer-container>
	<!-- End Main panel -->
	
</div>
