<nav class="navbar navbar-expand-md navbar-dark  bg-dark fixed-top justify-content-between">
    
    <a class="navbar-brand" href="#">
    	Logo
    </a>
    
	<div class="actions">
	      <ul class="navbar-nav mr-auto">
		        <li class="nav-item active">
		          <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i> Recherhcer</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Proposer</a>
		        </li>
		         <li class="nav-item">
		          <a class="nav-link" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> Inscription</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> S'identifier</a>
		        </li>
	      </ul>
	</div>
      
</nav>